.main {
  text-align: center;
  padding-top: 5%;
}

.heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
}

.count {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  background-color: aquamarine;
  width: 120px;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid red;
}

.btn {
  height: 100px;
  /* width: 80px; */
  background-color: aquamarine;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  width: 100px;
  margin-top: 2%;
}

.btn:disabled {
  background-color: rgb(10, 10, 10);
  color: white;
  cursor: not-allowed;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: rgb(17, 255, 17);
}

.btn:hover {
  background-color: rgb(10, 10, 10);
  color: white;
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border: 2px solid white;
}
